*{
    margin: 0 ; padding: 0 ; list-style: none ;
}
.box{
    width: 800px; height: 450px; background: url(../appimg/baoz_0.jpg); margin: 100px auto;
    position: relative;
}
.box .page1{
    width: 50%; height:100%; position: absolute;right: 0 ; top: 0;
    z-index: 2;
    transform:perspective(800px) rotateY(0deg);
    transform-origin:left center;
    transform-style:preserve-3d;
}
.box .page1 .fornt{
    width: 100%; height: 100%; position: absolute; left: 0 ; top: 0;  background: url(../appimg/baoz_0.jpg) right center; z-index: 5;
    transform:translateZ(1px); 
}
.box .page1 .back{
    width: 100%; height: 100%; position: absolute; left: 0 ; top: 0;  background: url(../appimg/baoz_1.jpg) left center; z-index: 2;
    transform:translateZ(-1px) rotateY(-180deg); 
}
.box .page2{
    width: 50%; height: 100%; position: absolute; right: 0 ; top: 0;  background: url(../appimg/baoz_1.jpg) right center; z-index: 1;
    transform:translateZ(-1px); 
}